arduino/stepper_motor_for_door/node-red/flows.json
[{"id":"9100dc0d.58fd","type":"tab","label":"Motor Control","disabled":false,"info":""},{"id":"a2b9b595.d9b1c8","type":"mqtt in","z":"9100dc0d.58fd","name":"","topic":"motorControl/log","qos":"0","datatype":"auto","broker":"6f859f69.fb2af","nl":false,"rap":true,"rh":0,"x":140,"y":180,"wires":[["2d320c24.732534"]]},{"id":"2d320c24.732534","type":"debug","z":"9100dc0d.58fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":180,"wires":[]},{"id":"fb12f7b7.59cc48","type":"mqtt out","z":"9100dc0d.58fd","name":"","topic":"motorControl/command","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f859f69.fb2af","x":490,"y":440,"wires":[]},{"id":"37465c5d.8d9314","type":"inject","z":"9100dc0d.58fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"runMotorCw","payloadType":"str","x":130,"y":560,"wires":[["fb12f7b7.59cc48"]]},{"id":"faa71c08.1354d","type":"inject","z":"9100dc0d.58fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"runMotorCcw","payloadType":"str","x":130,"y":620,"wires":[["fb12f7b7.59cc48"]]},{"id":"862ebc85.dcb17","type":"inject","z":"9100dc0d.58fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stopMotor","payloadType":"str","x":120,"y":680,"wires":[["fb12f7b7.59cc48"]]},{"id":"75574786.bccd18","type":"inject","z":"9100dc0d.58fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"resumeMotor","payloadType":"str","x":130,"y":740,"wires":[["fb12f7b7.59cc48"]]},{"id":"d204d96e.bcd1b8","type":"ui_button","z":"9100dc0d.58fd","name":"runMotorCw","group":"88f6f1cc.c34e4","order":1,"width":0,"height":0,"passthru":false,"label":"runMotorCw","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"runMotorCw","payloadType":"str","topic":"command","topicType":"msg","x":130,"y":340,"wires":[["fb12f7b7.59cc48"]]},{"id":"db7ab032.349af","type":"ui_button","z":"9100dc0d.58fd","name":"runMotorCcw","group":"88f6f1cc.c34e4","order":2,"width":0,"height":0,"passthru":false,"label":"runMotorCcw","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"runMotorCcw","payloadType":"str","topic":"command","topicType":"msg","x":130,"y":380,"wires":[["fb12f7b7.59cc48"]]},{"id":"359014ed.a13c1c","type":"ui_button","z":"9100dc0d.58fd","name":"stopMotor","group":"88f6f1cc.c34e4","order":3,"width":0,"height":0,"passthru":true,"label":"stopMotor","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"stopMotor","payloadType":"str","topic":"command","topicType":"msg","x":120,"y":420,"wires":[["fb12f7b7.59cc48"]]},{"id":"36214e23.0e31b2","type":"ui_button","z":"9100dc0d.58fd","name":"resumeMotor","group":"88f6f1cc.c34e4","order":4,"width":0,"height":0,"passthru":false,"label":"resumeMotor","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"resumeMotor","payloadType":"str","topic":"command","topicType":"msg","x":130,"y":460,"wires":[["fb12f7b7.59cc48"]]},{"id":"6f859f69.fb2af","type":"mqtt-broker","name":"pihole mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"88f6f1cc.c34e4","type":"ui_group","name":"MotorControl","tab":"c20ebc14.6c49","order":1,"disp":true,"width":"6","collapse":false},{"id":"c20ebc14.6c49","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]